/src/EmpleosAccesoDatos/nbproject/private/
/src/Jobs-BackEnd/nbproject/private/
/src/Jobs-FrontEnd-Admin/nbproject/private/
/src/LogicaDelNegocio/nbproject/private/
/src/EmpleosAccesoDatos/build/
/src/EmpleosAccesoDatos/dist/
/src/LogicaDelNegocio/build/
/src/LogicaDelNegocio/dist/
/src/Jobs-BackEnd/dist/
/src/Jobs-BackEnd/build/
/src/Jobs-FrontEnd-Admin/build/